
video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@font-face {
    font-family: rentAHouseFont;
    src: url("../font/Alef-Regular.ttf")
}

h4 {
    font-family: rentAHouseFont;
}