@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Eli Vizel 2<br />
    Reshin LeZion<br />
    <abbr title="Phone">P:</abbr>
    052-6680173
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yuvalmund@gmail.com">yuvalmund@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yuvalmund@gmail.com">yuvalmund@gmail.com</a>
</address>


<body></body>