@model IEnumerable<RentAHouse.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h2>All Apartments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section id="listBycities"></section>

@section Scripts{
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AlNQea4USaYJiJV4kPGxdLToVtMi7j8YKvoc3CfzjJN0ZVDkyHT809I5wOvQeMdE'></script>
    <script src="~/js//apartmentAdmin.js"></script>
}
