@model IEnumerable<RentAHouse.Models.Apartment>
@using RentAHouse.Models;

@{
    ViewData["Title"] = "Index";
}

@*  This is the first page the user sees,
    We configured it it Startup.cs file on "Configure" function
    All javascript code is in apartmentView.js file
*@
<section>
    <aside>
        <h2 class="title">Search for your next house</h2>
        <p>  RentAHouse </p>
    </aside>
</section>

<form>
    <div class="form-group">
        <label for="Region">Which Region?</label>
        <select asp-items="@Html.GetEnumSelectList<District>()" onchange="onRegionSelected(this.value)" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="City">Which City?</label>
        <select id="selectCity" asp-items="ViewBag.Cities" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="RoomNumber">How many rooms?</label>
        <input type="number" min="1" class="form-control" id="roomNum">
    </div>
    <div class="form-group">
        <label for="minPrice">Minimum price</label>
        <input type="number" min="0" class="form-control" id="minPrice">
    </div>
    <div class="form-group">
        <label for="maxPrice">Maximum price</label>
        <input type="number" min="1" class="form-control" id="maxPrice">
    </div>
    <input type="button" id="search" class="btn btn-success btn-lg" onclick="onSearch()" value="Search" />
</form>

<table id="apartmentsTable" style="display: none" class="table">
    <thead>
        <tr>
            <th>
                Street
            </th>
            <th>
                Nº
            </th>
            <th>
                City
            </th>
            <th>
                Rooms
            </th>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

@*
    This modal displays information about the selected apartment
    Click on 'See more' button triggers the modal to open - we configue it in 'tableBuilder' function
    The data in the modal fills in 'onSeeMore' function
*@

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Apartment Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @*The relevant function is in map.js file
                It looks for id="map" element and adds bing map*@
                <div id="map" style="width: 97%;height: 200px;position: sticky;"></div>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Street</th>
                            <td id="modelStreet"></td>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <td id="modelNumber"></td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td id="modelCity"></td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td id="modelPrice"></td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td id="modelSize"></td>
                        </tr>
                        <tr>
                            <th>Rooms</th>
                            <td id="modelRooms"></td>
                        </tr>
                        <tr>
                            <th>Floor</th>
                            <td id="modelFloor"></td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td id="modelCityTax"></td>
                        </tr>
                        <tr>
                            <th>Building Tax</th>
                            <td id="modelBuildingTax"></td>
                        </tr>
                        <tr>
                            <th>Renovated</th>
                            <td id="modelRenovated"></td>
                        </tr>
                        <tr>
                            <th>Pets</th>
                            <td id="modelPets"></td>
                        </tr>
                        <tr>
                            <th>Elevator</th>
                            <td id="modelElevator"></td>
                        </tr>
                        <tr>
                            <th>Furniture</th>
                            <td id="modelFurniture"></td>
                        </tr>
                        <tr>
                            <th>Enter Date</th>
                            <td id="modelDate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Property owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: left;">
                            <td id="modelOwnerName"></td>
                            <td id="modelOwnerRate"></td>
                            <td style="text-align: right;">
                                <button id="modalContact" type="button" data-toggle='modal' data-target='#compose-modal' data-dismiss="modal" class="btn btn-primary">Contact Owner</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*
    This modal displays compose email form
    Click on 'Contact owner' button (on apartment modal) triggers the modal to open
    All relevant functions are in mail.js file
*@
<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Compose</h4>
            </div>
            <form id="composeForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control" id="composeReplyEmail" placeholder="Your email address" required />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="composeSubject" placeholder="Subject" required />
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="composeMessage" placeholder="Message" rows="10" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="send-button" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* scripts *@
@section Scripts{
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AlNQea4USaYJiJV4kPGxdLToVtMi7j8YKvoc3CfzjJN0ZVDkyHT809I5wOvQeMdE'></script>
    <script src="~/js//apartmentView.js"></script>
    <script src="~/js//map.js"></script>
    <script src="~/js//mail.js"></script>
}

@* css *@
<link rel="stylesheet" href="~/css/seachApartment.css" />