@model IEnumerable<RentAHouse.Models.Apartment>
@using RentAHouse.Models;

@{
    ViewData["Title"] = "Index";
}

<h2>Search for your next house</h2>

<script>
    // TODO - add View button for every row
    //"&#10003" : "&#10007"
    function tableBuilder(street, number, cityname, rooms, size, price) {
      
        var tb = "<tr><td>{0}</td><td>{1}</td>" +
                 "<td>{2}</td><td>{3}</td><td>{4}</td>" +
                 "<td>{5}</td></tr>";
        return tb.format([street, number, cityname, rooms, size, price]);
    }


    function onRegionSelected(region) {
        $.get('/Apartments/GetCities', { region: region }, function (data) {
            var cityArray = JSON.parse(data);

            $("#selectCity").empty();

            var sel = $("#selectCity");
            cityArray.forEach(function (city) {
                sel.append($("<option>").attr('value', city.ID).text(city.cityName));
            });
        });
    }

    function onSearch() {
        $.ajax({
            url: '/Apartments/GetApartments',
            data: {
                "cityId": $("#selectCity").val(),
                "roomNumber": $("#roomNum").val() || -1,
                "minPrice": $("#minPrice").val() || -1,
                "maxPrice": $("#maxPrice").val() || -1
            },
            type: "GET",
            success: function (response) {
                response = JSON.parse(response);

                // Sort by price
                response.sort(function (a, b) {
                    return a.price - b.price;
                });

                $("#tableBody").empty();

                response.forEach(function (apartment) {
                    //TODO - add all wanted parameters
                    $("#tableBody").append(tableBuilder(apartment.street,
                        apartment.houseNumber,
                        apartment.cityName,
                        apartment.roomsNumber,
                        apartment.size,
                        apartment.price,
                        apartment.cityTax,
                        apartment.BuildingTax,
                        apartment.furnitureInculded,
                        apartment.isRenovatetd,
                        apartment.arePetsAllowed,
                        apartment.isThereElivator,
                        apartment.floor,
                        apartment.EnterDate
                        ));
            });
            },
            error: function (xhr) {
                //TODO - needed?
            }
        });
    }


    // Makes life easier for tableBuilder function
    String.prototype.format = function (args) {
        var str = this;
        return str.replace(String.prototype.format.regex, function (item) {
            var intVal = parseInt(item.substring(1, item.length - 1));
            var replace;
            if (intVal >= 0) {
                replace = args[intVal];
            } else if (intVal === -1) {
                replace = "{";
            } else if (intVal === -2) {
                replace = "}";
            } else {
                replace = "";
            }
            return replace;
        });
    };
    String.prototype.format.regex = new RegExp("{-?[0-9]+}", "g");
 </script>
<form>
    <div class="form-group">
        <label for="Region">Which Region?</label>
        <select asp-items="@Html.GetEnumSelectList<District>()" onchange="onRegionSelected(this.value)" class="form-control"></select>    
    </div>
    <div class="form-group">
        <label for="City">Which City?</label>
        <select id="selectCity" asp-items="ViewBag.Cities" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="RoomNumber">How many rooms?</label>
        <input type="number" class="form-control" id="roomNum">
    </div>
    <div class="form-group">
        <label for="minPrice">Minimum price</label>
        <input type="number" class="form-control" id="minPrice">
    </div>
    <div class="form-group">
        <label for="maxPrice">Maximum price</label>
        <input type="number" class="form-control" id="maxPrice">
    </div>
    <input type="button" class="btn btn-success btn-lg" onclick="onSearch()" value="Search"/>
</form>

<table id="apartmentsTable" class="table">
        <thead>
            <tr>
                <th>
                    Street
                </th>
                <th>
                    Nº
                </th>
                <th>
                    City
                </th>
                <th>
                    Rooms
                </th>
                <th>
                    Size
                </th>
                <th>
                    Price
                </th>
                @*<th>
                    Poperty Tax
                </th>
                <th>
                    Building Tax
                </th>
                <th>
                    Furnitures
                </th>
                <th>
                    Renovatetd
                </th>
                <th>
                    Pets
                </th>
                <th>
                    Elivator
                </th>
                <th>
                    Floor
                </th>*@
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
